@model DemoProject.Models.ViewModels.CompletedViewModel

@{
    ViewData["Title"] = "Confirmation";
}
<body class="body bg-primary">
    <div class="text-center">
        <a href="@Url.Action("Index", "Home")" class="btn btn-link" style="font-weight: 700; color: #FFFFFF;>Gameplay</a>
    </div>

    @if (!string.IsNullOrEmpty(Model.PassportBase64))
    {
        <div class="container">
            <img src="data:image/jpeg;base64,@Model.PassportBase64" alt="Passport">
        </div>
    }

    <div class="container">
        <p><strong>@Model.FullName</strong></p>
        <p><strong>@Model.ID</strong></p>
        <p><strong>@Model.Category</strong></p>
    </div>
    </div>
    <div class="text-center mt-4">
        <a href="javascript:void(0);" onclick="navigateToNewRegistration('@Model.SchoolCode')" class="link-new-registration">New Registration</a>
    </div>

    @section Scripts {
        <script>
            // Function to navigate to the new registration page
            function navigateToNewRegistration(schoolCode) {
                console.log("Clicked on 'New Registration'");
             //log the schoolcode
                console.log("School Code:", schoolCode);
                // Construct the URL with the schoolCode parameter
                var url = "@Url.Action("Index", "CandidateRegistration")?schoolCode=" + schoolCode;
                // Redirect to the new registration page
                window.location.href = url;
            }
        </script>
    }
</body>
